<p style="color: green"><%= notice %></p>

<%= render @post %>

<% if @post.comments.any? %>
  <strong >Comentarios:</strong><br>
    <% @post.comments.each do |c| %>
      <div class="card mt-2">
        <div class="card-header">
          <strong><i class="fa-sharp fa-solid fa-user-secret fa-2xl" style="color: #1049ad;"></i> <p>Usuario:  <%=  c.user.name %></p> </strong>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Comentario: <%= c.content %></p>
          </blockquote>
        </div>
      </div>
    <% end %>
    <br>
<% else %>

<div class="card w-50">
  <div class="card-body">
    <h5 class="card-title">Comentarios</h5>
    <p class="card-text">La publicacion no posee comentarios</p>
   <%= link_to "Nuevo Comentario", new_comment_path, class:"btn btn-dark" %>
  </div>
</div>
<% end %>

<div class="mb-5">
  <%= link_to "Nuevo Comentario", new_comment_path, class:"btn btn-dark" %>
  <%= link_to "Back to posts", posts_path, class:"btn btn-dark" %>
  <% if user_signed_in? %>
    <% if current_user.id == @post.user_id%>
      <%= link_to "Edit this post", edit_post_path(@post) %>
      <%= button_to "Destroy this post", @post, method: :delete %>
    <% end %>
  <% end %>
</div>
